// app global css
@import '~variables'
@import "~src/css/html-table.mat.styl"
@import "~src/css/html-table.ios.styl"
@import "~src/css/tree.mat.styl"
@import "~src/css/tree.ios.styl"
@import "~src/css/themes/custom-inputs.styl"
.mt-10
  margin-top 10px

.mt-20
  margin-top 20px

.mt-30
  margin-top 30px

.mb-10
  margin-bottom 10px

.mb-20
  margin-bottom 20px

.pd-2
  padding 2px

.pd-5
  padding 5px

.pd-8
  padding 8px

.pd-9
  padding 9px

.pd-10
  padding 10px

.pd-11
  padding 11px

.pd-14
  padding 14px

.pd-15
  padding 15px

.pd-20
  padding 20px

.brand-logo-pd
  padding 5.5px

.q-field-no-input
  margin-top: 0px
  border: none

.bg-020c35
  background: #020c35 !important

.bg-12256b
  background: #12256b !important

.bg-e9e9e9
  background: #e9e9e9 !important

.bg-f263b7
  background: #f263b7 !important

.text-f263b7
  color #f263b7 !important

.text-1898df
  color #1898df !important

.text-737373
  color #737373 !important

.not-allowed
  cursor not-allowed

.frontend .sidebar .q-item > i
  font-size 0.8rem
  padding-right 5px

.frontend .sidebar .q-list-header
  color white !important

.frontend .sidebar .q-item.active-root
  background #000000
  border-left #f263b7 solid 3px

.frontend .sidebar .q-item:focus, .frontend .sidebar .router-link-exact-active
  color #f263b7 !important
  background none !important

.frontend .sidebar .q-list-highlight > .q-item:hover, .q-item-highlight:hover, .q-list-link > .q-item:hover, .q-item-link:hover
  background rgba(189, 189, 189, 0.1)

.frontend .sidebar .q-item.active, .frontend .sidebar .q-item.router-link-active, .frontend .sidebar .q-item:focus
  background: none !important

.frontend .layout-aside-left
  left 0
  width 250px

.filter-holder
  padding 8px
  margin 10px 0px 10px 0px

.general-label
  margin-bottom 8px
  margin-top 8px

.verticle-line
  border-left 1px dotted #38546d
  height 100%

.bg-img-cube
  background-image url("~assets/cubes.png")
  background-repeat repeat

.custom-border
  border: solid 0.08em #eee

hr
  border-top: solid 0.01em #eee

.new-update-btn
  z-index: 6000

.custom-width-popover
  min-width 350px !important


//Introjs hack hide introJS hint dialog from showing
.introjs-tooltipReferenceLayer
  display none

.freshwidget-button
  top 11px !important
  right 50px !important
  z-index 9499 !important
  > a
    position relative !important
    display inline-block !important
  img
    width auto !important
    height 1.8rem !important
    opacity 0.7 !important

// Datatable Hack
.q-table-container
  &.fullscreen
    z-index $z-max